
#root{
  min-height: 100%;
}

html{
  height : 100%;
}
a-index{
  color : inherit;
  text-decoration: none;
}
*{
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
